.homeContainer {
  display: flex;
}

.homeContainer > div:nth-child(odd) {
  flex: 2;
}

.homeContainer > div:nth-child(even) {
  flex: 6;
}

.homeContainer_left {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sideBarOptions {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  font-size: 16px;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  cursor: pointer;
  transition: all 1ms;
}

.sideBarOptions:hover {
  transform: scale(1.02);
}

.sideBarOptions > svg {
  height: 1.4em;
  min-width: fit-content;
}
